#seccion_4 {
	background: #f5f5f5;
		ul:after{
			content:".";
			clear:both;
			display:block;
			height:0;
			overflow:hidden;
			visibility:hidden;
		}
		.biaoti:after{
			content:".";
			clear:both;
			display:block;
			height:0;
			overflow:hidden;
			visibility:hidden;
		}
}
#seccion_4 .biaoti{
	height: 80px;
	line-height: 80px;
	>span{
		font-size: 20px;
		text-indent: 3px;
		font-weight: normal;
		float: left;
	}
	>a{
		font-size: 18px;
		float: right;
		margin-right: 20px;
		display: block;
	}
}
#seccion_4 .biaoti a em{
	width: 20px;
	height: 20px;
	background: #B0B0B0;
	padding: 0 5px;
	color: #FFF;
	border-radius: 50%;
}
#seccion_4 .spic{
	float: left;
	height: 632px;
	width: 239px;
	img{
		margin-bottom: 12px;
	}
}
#seccion_4 ul{
	float: right;
	width:944px;
	li{
		position: relative;
		float: left;
		width: 219px;
		height: 300px;
		margin-right: 17px;
		margin-bottom: 12px;
		a{
			height: 300px;
			background: white;
			position: absolute;
			text-align: center;
			img{
				width: 190px;
				height: 190px;
				margin-left: 13px;
			}
		}
	}
}
.itemtitle{
	height: 20px;
	width: 64px;
	margin: 0 auto; 
	background: #FF2D32;
	line-height: 20px;
	margin-bottom: 10px;
}
.itemname{
	width: 80%;
	line-height: 20px;
	font-size: 13px;
	width: 200px;
}
.itemeprice{
	font-size: 13px;
	color: #FF2C00;
	line-height: 20px;
}